@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  color: var(--primary);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-none{
  scrollbar-width: none;
}
 .swiper{
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.swiper-wrapper{
  padding-bottom: 52px !important;
}

.mySwiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #383838;
  opacity: 1;
}

/* Change the color of the active pagination bullet */
.mySwiper .swiper-pagination-bullet-active {
  background-color: #ff6600; /* Set the color for the active bullet */
  width: 10px ;
  height: 10px ;
  border-radius: 10px;
}